.sobre-nos {
  font-family: "Poppins", sans-serif;
  background-color: #fff8f0;
  color: #4b2e83;
  text-align: center;
  padding: 30px;
}

.integrantes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.card {
  width: 200px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.card img {
  width: 100%;
  border-radius: 50%;
}

blockquote {
  font-style: italic;
  font-weight: bold;
  color: #670900ff;
  background-color: #d9c3b6ff;
  padding: 15px 20px;
  border-left: 5px solid #d88881ff;
  border-radius: 8px;
  margin: 30px auto;
  max-width: 600px;
}
